/* General Styles */
body {
    width: 1000px;
    margin: auto;
    background-color: rgb(179, 200, 253);
    background-image: url(BG.jpg);
}

h1 {
    color: blue;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Text shadow */
   
}

p {
    font-size: 14px;
    font-family: Tahoma, Geneva;
   
   
}

.box {
    border: 2px solid black;
    padding: 10px;
    width: 70%; 
    text-align: center;
    margin: auto;
    transition: background-color 0.5s ease;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Box shadow */

}
.box:hover {
    background-color: rgb(243, 243, 243);
}


img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: rgb(180, 218, 255);
    background-image: url(banner.jpg);
    height: 250px;
}

nav {
    text-align: center;
    padding: 12px;
    background-color: #CCF;
}

main {
    color: #009;
    background-color: rgb(179, 200, 253);
}

footer {
    color: #FFF;
    background-color: rgb(179, 200, 253);
    font-size: 10px;
    height: 30px;
    text-align: center;
    background-color: rgb(143, 143, 143);
}

/* IDs */
#wrapper {
    border: 2px #009 solid;
}

/* Classes */
.important {
    color: #C00; /* darker red */
}

/* Navigation styles */
ul {
    list-style-type: none;
    padding: 0;
    
}

ul li {
    display: inline;
    margin-right: 15px;
    
}

ul li a {
    text-decoration: none;
    color: rgb(51, 100, 198);
}

ul li a:hover {
    color: #1c0787;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
}

.selected {
    font-weight: bold;
    font-size: 20px;
}

/* Specific styles for elements in the body */
h1.page-title {
    color: rgb(21, 130, 239);
    font-size: 52px;
    font-family: Helvetica;
    text-align: center;
}

h2 {
    color: rgb(42, 117, 174);
    font-size: 32px;
    font-family: Helvetica;
    text-align: center;
    blockquote {text-align:justify}
    blockquote:first-letter {font-size:1.8em; font-weight:bold}
    .box {border:2px blue solid}
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Text shadow */
}

h3 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Text shadow */
}

h4 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Text shadow */
}

/* HR style */
hr {
    width: 100%;
    height: 5px;
    background-color: #039;
}

/* Footer styles */
footer a {
    color: white;
    text-decoration: none;
}

footer a#Youtube {
    color: red;
}

footer a:hover {
    text-decoration: underline;
}

